.app {
    text-align: center;
}

.app-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.app-title {
    font-size: 1.5em;
}

.app-intro {
    font-size: large;
}

button, input {
    border: 1px solid lightgrey;
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px;
}
button {
    cursor: pointer;
}
input {
    cursor: text;
}
